.light-theme {
  background-color: var(--vt-c-white);
  color: var(--vt-c-black);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dark-theme {
  background-color: var(--vt-c-black);
  color: var(--vt-c-white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
